<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="../css/forgot.css">
</head>

<body>
    <div>
        <div class="header">
            <h1>Forgot Password</h1>
        </div>
        <div class="form">
            <!-- Main container for all inputs -->
            <ul class="mainContainer">

                <!-- Email -->
                <li><label for="email">Email-ID</label></li>
                <li><input type="email" placeholder="Enter Email-ID" name="email"></li>

                <br><br>
                <!-- Submit button -->
                <li>
                    <p class="register"><a href="./login.html">Submit</a></p>
                </li>

            </ul>
        </div>

        <div class="footer">
            <p>© 2023 Amazon Shopping</p>
        </div>
    </div>
    <script src="../js/forgot.js"></script>
</body>

</html>
