.title{
    text-align: center;
    text-decoration: underline;
    margin: 4px;
    padding: 10px;
}

#container{
    border: 1px solid;
    width: 600px;
    margin: 10px auto;
    background-color: cornflowerblue;
}
ul{
    margin: 10px;
    padding: 10px;
}
li{
    list-style: none;
    border: 1px solid cornflowerblue;
    margin: 5px;
    padding: 7px;
    background-color: whitesmoke;
}
#ebsal{
    width: 80px;
}

#paySlip{
    width: 600px;
    margin: 20px auto;
    background-color: darkmagenta;
    display: none;
}