*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px grey;  
}
.total{
    /* border: 2px solid; */
   position: absolute;
   width: 1200px;
   height: 638px;
   background-image: URL(https://rb.gy/vnhoyj);
   background-size:69%;
   background-repeat: no-repeat;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   letter-spacing: 2px;
   text-shadow: 2px 2px 3px grey;

}
.header{
    position: relative;
    width: 150px;
    height: 70px;
    bottom: 5%;


}
.main{
    border: 2px solid;
    width: 450px;
    height: 300px;
    position: relative;
    left: 60%;
    border-radius: 10px;
    box-shadow: 9px 4px 6px 2px rgb(103, 110, 97);
    top: 5%;
}
.block{
    position: relative;
    left: 1%;
    top: 12%;
}
.log{
    margin: 15px;
    padding: 10px;
    list-style-type: NONE;
}
.footer{
    /* border: 2px solid; */
    height: 120px;
    position: relative;
    top: 22%;
    background-color: rgba(187, 236, 12, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none;
}
img{
    position: relative;
    top: 27px;
}
.f-2{
    position: relative;
    left:36%
}
.last{
    position: relative;
    left: 36%;
    bottom: 20px;
}
.side{
    position: relative;
    left: 45%;
    border-radius: 10px;
}
.down{
    position: relative;
    top: 19px;
}
ul{
    list-style: none;
}
.submit{
    border: 1px solid;
    width: 160px;
    height: 25px;
    position: relative;
    left: 24%;
    top: 25px;
    border-radius: 20px;
    color: rgb(246, 249, 249);
    background-color: rgb(107, 252, 10);
}
.login{
    border: 1px solid;
    width: 160px;
    height: 25px;
    position: relative;
    border-radius: 20px;
    color: rgb(246, 249, 249);
    background-color: rgb(107, 252, 10);
    right: 15%;
}
.word{
    color: rgb(107, 252, 10);
    position: relative;
    left: 62%;
}
.word-2{
    color: rgb(107, 252, 10);
    position: relative;
    left: 74%;

}
.mail{
    position: relative;
    top: 90px;
    left: 15%;
    color: rgb(200, 12, 247);
}
.done{
    border: 1px solid;
    width: 160px;
    height: 25px;
    position: relative;
    border-radius: 20px;
    color: rgb(246, 249, 249);
    background-color: rgb(107, 252, 10);
    left: 10%;
    top: 50px;
}
.product{
    /* border: 2px solid; */
    position: absolute;
    width: 1200px;
    height: 638px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   letter-spacing: 2px;
   text-shadow: 2px 2px 3px grey;
}
.left{
    border: 2px solid;
    width: 200px;
    height: 30px;
    text-align: center;
    margin: 40px;
    padding: 5px;
    border-radius: 50px;
}
.l-side{
    float: left;
}
.home{
    /* border: 2px solid; */
    width: 820px;
    height: 320px;
    float: left;
    margin: 5px;
    padding: 2px;


}
.tshirt{
    /* border: 2px solid; */
    width: 220px;
    /* height: 250px; */
    border-radius: 20px;
    float: left;
    margin: 10px;
    padding: 3px;

}
.inside{
    position: relative;
    left: 43px;
    top: 0px;
}
.top{
    text-align: center;
}
.under{
    border: 2px solid;
    width: 150px;
    height: 20px;
    position: relative;
    left: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;

}
.price{
    text-align: center;
}

iframe{
    width: 70%;
    height: 100%;
    border: none;
}
.frame{
    width: 100%;
    height: 100%;
}
.tshirt:hover{
        border: 2px solid white;
        width: 220px;
        /* height: 250px; */
        border-radius: 10px;
        float: left;
        margin: 10px;
        padding: 3px;
        box-shadow: 20px 10px 20px 10px grey;
}