* {
    margin: 0;
    padding: 0;
}
.heading {
    border: 1px solid;
    background-color: aqua;
    text-align: center;
}
.scontainer {
    border: 1px solid;
    width: 30%;
    position: relative;
    top: 10px;
    left: 10px;
    background-color: rgb(17, 17, 17);
}
ul {
    list-style: none;
}
li {
    margin: 5px;
    padding: 5px;
    background-color: aliceblue;
}
#rbutton {
    padding: 3px;
    margin: 3px;
    background-color: green;
}
#sclass {
    position: relative;
    left: 100px;
}
#sname {
    position: relative;
    left: 30px;
}
#sage {
    position: relative;
    left: 40px;
}
#slocation {
    position: relative;
    left: 50px;
}
.secondcontainer {
    border: 1px solid;
    width: 67%;
    position: absolute;
    right: 10px;
    top: 40px;

}