            .clothingContainer{
                border: 2px solid; 
                width: 270px;
                height: 340px; 
                margin: 1px;
                padding: 1px;
            
            }
            img{
                height: 200px;
                width: 150px;
            }

            .productDetails > li{
                border: 1px solid #337a99;
                margin: 3px;
                padding: 3px;
                width: 250px;
                list-style: none;
                float: right;
            }

            li{
               list-style: none;
            }
            h3{
                border: 3px solid;
                margin: 2px;
                height: 30px;
                text-align: center;
            }
