* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo {
    height: 50px;
    width: 100px;
}
.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border {
    border: 2px solid transparent ;
}
.border:hover {
    border: 2px solid white;
}
/* box2 */
.add_first{
    color: #cccccc ;
    font-size: 0.85rem ;
    /* margin: 15px; */
}
.add_second {
    font-size: 1rem;
    /* margin: 15px; */
    text-align: center;
}
.add_icon {
    display: flex;
    align-items: center;
}
/* box 3 */
.nav_search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px ;
    height: 40px;
    border-radius: 4px;
}
.search_select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-radius: 4px;
    border: none;
}
.search_input {
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search_icon {
    width: 30px;
    height: 40px;
    display: flex;
    justify-content: center ;
    align-items: center;
    font-size: 1rem;
    background-color: rgb(250, 108, 13);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px ;
    color: black;
}

.nav_search:hover {
    border: 2px solid orange;
}
/* box4 */
span {
    font-size: 0.7rem;
}

.nav_second {
    font-size: 0.85rem;
    font-weight: 700;
}
.nav_cart  {
    font-size: 0.85rem;
    font-weight: 700;
}
.menu_img {
    width: 10px;
    height: 10px;
}
/* panel */
.panel {
    height: 40px;
    background-color: #222f3d ;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel_opt p {
    display: inline;
    margin-left: 15px;
}
.panel_opt {
    width: 70%;
    font-size: 0.85rem ;
}
.panel_deals {
    font-size: 0.9rem;
    font-weight: 700;
}
/* hero section */
.hero_section {
    background-image: url(amazon_project/hero_image.jpg);
    
}
.hero_section img {
    height: 600px;
    background-size: cover;
    background-image: url("paper.gif");
}