ul
{
    margin: 10px auto;
    border: 2px solid;
    padding: 0px;
    width: 600px;
}
li{

    margin: 10px;
    padding: 10px;
    list-style-type: none;
    border: 1px solid;
}
h3{
    text-align: center;
}
.details{
    display: none;
}