.container > li{
    width: 250px;
    border: 1px solid;
    margin: 5px;
    padding: 5px;
    float: left;
     
}
.productDetails > li{            
    border: 1px solid cadetblue;
    margin: 5px;
    padding: 5px;
               
}
li{
    list-style: none;
}
img{
    width: 150px;
    height: 100px;
}

h3{
    border: 2px solid;
    text-align: center;
    height: 30px;
    margin: 3px;
    padding: 3px;
    color: blue;
}
ul{
    margin: 5px;
    padding: 5px;
}