h3 {
    text-align: center;
    border: 1px solid;
    margin: 10px;
    padding: 10px;
    color: greenyellow;
}

li {
    list-style: none;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
}
.container ul {
    width: 500px;
    margin: 10px auto;
    padding: 10px;

}

.marksContainer input {
    width: 80px;
}