.container{
    
    border: 2px solid;
    margin: 2px;
    padding: 2px;
    width : 280px;
    height: 300px;
                   
}
.productDetails > li{
                
    border: 1px solid;
    margin: 5px;
    padding: 5px;
    width: 250px;
               
}
img{
    width: 150px;
    height: 100px;
}
li{
    list-style: none;
}
h3{
    border: 2px solid;
    text-align: center;
    height: 30px;
    margin: 3px;
    padding: 3px;
    color: blue;
}