.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    flex: 1;
    min-width: 0;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
    margin-right: 10px;
    min-width: 100px;
}

.input {
    flex: 1;
    
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-self: flex-end;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #90d8ee;
    color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.submit {
    margin-left: 0;
    margin-right: auto;
    
}

.submitbutton{
    flex: 2;
    margin-top: 10px;
    text-align: right;
}