ul {
    max-width: 250px ;
    margin: 10px 20px;
    padding: 20px;
}
li  {
    list-style: none;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
}

.passwordCheckBlock {
    position: absolute;
    right: 10px;
    top: 100px;
}
.passwordCheckBlock div {
    color: red;
}