h3{
    text-align: center;
    text-decoration: underline;
    margin: 10px;
    padding: 10px;
}
#container{
    border: 1px solid;
    background-color: cadetblue;
    width: 600px;
    margin: 20px auto;
}
ul{
    margin: 5px;
    padding: 5px;
}
li{
    list-style: none;
    background-color: beige;
    border: 1px solid beige;
    margin: 10px;
    padding: 10px;
}
#progress{
    border: 1px solid ;
    background-color: darkkhaki;
    width: 600px;
    margin: 20px auto;
    display: none;
}
.marksContainer input{
    width: 30px;
}
