ul, li {
    margin: 10px auto;
    padding: 10px;
    list-style: none;
}
ul {
    border: 1px solid;
    width: 290px;
}
.astric {
    color: red;
}
.ErrMsg {
    color: red;
    font-size: 10px;
    display: none;
}