<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrendStore</title>
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="../lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/generateCaptcha.js"></script>
</head>

<body>
    <header class="header">
     
        <nav class="navbar navbar-expand-lg bg-body-secondary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../images/favicon.png" alt="Logo" width="100" height="80">
                </a>

                <form class="d-flex flex-grow-1">
                    <input class="form-control me-2" type="search" placeholder="Search for products, brands, and more" aria-label="Search">
                    <button class="btn btn-outline-dark me-lg-3" type="submit">Search</button>
                </form>


                <ul class="navbar-nav ml-auto me-3">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cart
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="50" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                            </svg>
                        </a>
                    </li>
                </ul>

                <div class="loginLink">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginDialog">
                        Login
                    </button>
                </div>
            </div>
        </nav>
    </div>
    <main>
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
             </div>

            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="../images/footwear.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block text-light">
                  <h5>First slide label</h5>
                  <p>Some representative placeholder content for the first slide.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../images/electronics.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block text-light">
                  <h5>Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

      </main>
      <footer class="footer">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-4">
              <h5>About Us</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="col-md-4">
              <h5>Contact Us</h5>
              <p>Phone: +1 123 456789</p>
              <p>Email: info@example.com</p>
            </div>
            <div class="col-md-4">
              <h5>Follow Us</h5>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <hr>
          <p>&copy; 2023 Online Shopping. All rights reserved.</p>
        </div>
      </footer>
   
    
  <!-- Login Modal -->
  <div class="modal fade" id="loginDialog" tabindex="-1" aria-labelledby="loginDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginDialogLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="userID" class="form-label">UserID</label>
                        <input type="text" class="form-control" id="userID" placeholder="Enter your UserID">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter your password">
                    </div>
                    <div class="mb-3">
                        <label for="captchaInput" class="form-label">Captcha</label>
                        <input type="text" class="form-control" id="captchaInput" placeholder="Enter the captcha">
                    </div>
                    <div class="captcha">
                        <img id="captchaImage" src="">
                        <button class="btn btn-secondary refresh-btn" onclick="refreshCaptcha()">Refresh</button>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Signin</button>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
