*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    color: blueviolet;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}
.student{
    margin: 20px;
}
.student p{
    line-height: 30px;
}
.card{
    padding: 0 0 0 0px;
    border: 1px solid #000;
    width: 241px;
    height: 282px;
    margin-left: 38px;
}
img{
    height: 161px;
}