.hContent {
    text-align: center;
    margin: 10px;
}
#productDataContainer li {
    list-style: none;
    border: 1px solid #ddd;
    margin: 5px;
    padding: 5px;
    background-color: #fff;
}
#productDataContainer ul {
    background-color: #ccc;
    border: 1px solid #ddd;
    margin: 5px;
    padding: 5px;
    width: 300px;
    float: left;
}
main {
    overflow: auto;
}
.productImg {
    width: 130px;
    height: 130px;
}
.pulTag {
    float: left;
    margin: 10px;
    height: 500px;
}
.ratingContainer {
    height: 30px;
}
.rating {
    background-image: url(../Images/rating.PNG);
    width: 23px;
    height: 29px;
    background-repeat: no-repeat;
    background-size: 109px;
    float: left;
}
.fullImage {
    background-position: -1px 5px;
}
.halfImage {
    background-position: -65px 5px;
}
.zeroImage {
    background-position: -86px 5px;
}
.productDescription {
    height: 150px;
    overflow: auto;
}
.errorBlock  {
    position: absolute;
    top: 20%;
    left: 35%;
    width: 300px;
    border: 1px solid;
    padding: 30px;
    color: red;
    text-align: center;
    display: none;
}
.loadingBlock img {
    width: 150px;
    height: 150px;
}
.loadingBlock {
    position: absolute;
    top: 20%;
    left: 45%;
    width: 300px;
    display: none;
}