
.title {
    text-align: center;
    text-decoration: underline;
    font-size: large;
    color: blueviolet;
}
.container  {
    border:1px solid #ddd;
    width: 600px;
    margin:20px auto;
    background-color: beige;
}
li{
    list-style: none;
    margin:5px;
    padding: 5px;
    background-color: aliceblue;
}
ul{
     margin: 5px;
     padding: 5px;
}
.empData{
    border:1px solid #ddd;
    width: 600px;
    margin:20px auto;
    background-color:cornsilk;
    display: none;
}
input[value=Reset]{
    float:right;
    margin-right: 40px;
}