header, main, footer {
    
  text-align: center;
  background-color: #fff;
  
  
  
}
body {
    background-color: gainsboro;
}

header {
  top: 0;
  position: fixed;
  background-color: rgb(235, 186, 123);
  left: 0px;
  right: 0px;
  height: 70px;
}

main {
    
  min-height: 900px;
  margin: 10px;
  margin-top: 55px;
  padding: 13px;
  
}


.captcha {
  text-align: center;
  margin-top: 20px;
}

.refresh-btn {
  margin-top: 10px;
}


.carousel {
  height: 200px; /* Adjust this value as needed */
}

footer {
  bottom: 10px;
  margin: 10px;
  padding: 13px;
}




/* CSS for desktop screens */
@media (min-width: 992px) {
  header{
    position: fixed;
  }
    .navbar-brand {
      margin-right: 2rem;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .navbar-nav .nav-item {
      margin-left: 1rem;
    }
  
    .form-control {
      width: 300px;
    }
  }
  
  /* CSS for tablet screens */
  @media (max-width: 991px) {
    .navbar-brand {
      margin-right: 1rem;
    }
  
    .navbar-nav {
      flex-direction: column;
    }
  
    .navbar-nav .nav-item {
      margin-left: 0;
      margin-bottom: 1rem;
    }
  
    .form-control {
      width: 100%;
    }
  }
  