ul {
    width: 500px;
    border: 2px solid black;
    margin: 10px auto;
    padding: 10px;
}
li {
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
    list-style: none;
}
#asteric {
    color: red;
}
.error {
    color: red;
    font-size: 13px;
    position: relative;
    left: 11px;
    top: 3px;
    display: none;
}