.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid rgba(red, green, blue, alpha);
    background-image: url("https://media.istockphoto.com/id/958693744/vector/abstract-red-light-trail-on-blue-background.jpg?s=1024x1024&w=0&k=20&c=NMWPgT3zSw2UxluLVNmhoQUcOuA_FgzQIvw5aDGQkVc=");
}
.forgot password{
    border:1px solid black;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(red, green, blue);
    animation: 0.5s ease-in-out;
}
input,
button{
    display: block;
    width: 100%;
    padding: 10px;
    margin:10px 0;
    border: 1px solid orange;
    border-radius: 10px;
}
h2{
    color: aqua;
}
button{
    width: 80px;
    cursor: pointer;
    border-color: black;
    position: relative;
    margin: 10px 5px;
}