.container {
    border:1px solid;
    margin: 20px auto;
    width: 600px;
    background-color:#ccc;
}
ul {
    margin:5px;
    padding:5px;
}
li {
    list-style: none;
    margin: 5px;
    padding: 5px;
    background-color:#fff;
}
.marksContainer input {
    width: 40px;
}
.title {
    text-align: center;
    text-decoration: underline;
    color:blue;
}
.sResult {
    border: 1px solid #ddd;
    margin:20px auto;
    background-color: aqua;
    width:600px;
    display: none;
}
