.loadingBlock {
    position: absolute;
    top: 20%;
    left: 45%;
    width: 300px;
    display: none;
}

.loadingBlock img {
    width: 300px;
    height: 300px;
}

.errorBlock {
    position: absolute;
    top: 20%;
    left: 35%;
    width: 300px;
    border: 1px solid;
    padding: 1px solid;
    padding: 30px;
    color: red;
    display: none;
}