* {
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
}

h2 {
    border: 2px solid black;
    height: 30px;
    text-align: center;
    background-color: coral;
    border-radius: 50px;
}

.box {
    border: 2px solid black;
    margin-top: 80px;
    width: 250px;
    height: 30px;
    margin-left: 40px;
    text-align: center;
    background-color: coral;
    border-radius: 100px;
}

.box1 {
    border: 2px solid black;
    margin-top: 50px;
    width: 250px;
    height: 30px;
    margin-left: 40px;
    text-align: center;
    background-color: coral;
    border-radius: 100px;
}

.box2 {
    border: 2px solid black;
    margin-top: 50px;
    width: 250px;
    height: 30px;
    margin-left: 40px;
    text-align: center;
    background-color: coral;
    border-radius: 100px;
}

.box3 {
    border: 2px solid black;
    margin-top: 50px;
    width: 250px;
    height: 30px;
    margin-left: 40px;
    text-align: center;
    background-color: coral;
    border-radius: 100px;
}

.box4 {
    border: 2px solid black;
    margin-top: 50px;
    width: 250px;
    height: 30px;
    margin-left: 40px;
    text-align: center;
    background-color: coral;
    border-radius: 100px;
}

.box5 {
    border: 2px solid black;
    margin-top: 50px;
    width: 250px;
    height: 30px;
    margin-left: 40px;
    text-align: center;
    background-color: coral;
    border-radius: 100px;
}

.box6 {
    border: 2px solid black;
    margin-top: 50px;
    width: 250px;
    height: 30px;
    margin-left: 40px;
    text-align: center;
    background-color: coral;
    border-radius: 100px;
}

.container {
    border: 2px solid black;
    margin-top: -530px;
    width: 250px;
    height: 300px;
    margin-left: 400px;
    text-align: center;
    background-color: white;

}

.rol {
    border: 1px solid black;
    margin-top: 10px;
    width: 225px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: aqua;
}

.rol1 {
    border: 1px solid black;
    margin-top: 15px;
    width: 225px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: coral;
}

img {
    width: 250px;
    height: 200px;
    background-color: white;
}

.container:hover {
    background-color: brown;

}


/* box2 */


.container1 {
    border: 2px solid black;
    margin-top: -303px;
    width: 250px;
    height: 300px;
    margin-left: 660px;
    text-align: center;
    background-color: white;

}

.roll {
    border: 1px solid black;
    margin-top: 10px;
    width: 225px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: aqua;
}

.roll1 {
    border: 1px solid black;
    margin-top: 15px;
    width: 225px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: coral;
}

image {
    width: 100px;
    height: 100px;
}

.container1:hover {
    background-color: brown;

}






.container2 {
    border: 2px solid black;
    margin-top: -302px;
    width: 250px;
    height: 300px;
    margin-left: 920px;
    text-align: center;
    background-color: white;

}

.roll1 {
    border: 1px solid black;
    margin-top: 10px;
    width: 225px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: aqua;
}

.roll2 {
    border: 1px solid black;
    margin-top: 15px;
    width: 225px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: coral;
}

image {
    width: 100px;
    height: 100px;
    background-color: white;
}

.container2:hover {
    background-color: brown;

}







.container3 {
    border: 2px solid black;
    margin-top: -304px;
    width: 250px;
    height: 300px;
    margin-left: 1180px;
    text-align: center;
    background-color: white;

}

.roll2 {
    border: 1px solid black;
    margin-top: 10px;
    width: 225px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: aqua;
}

.roll3 {
    border: 1px solid black;
    margin-top: 15px;
    width: 225px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: coral;
}

image {
    width: 100px;
    height: 100px;
    background-color: white;

}

.container3:hover {
    background-color: brown;

}





.container4 {
    border: 2px solid black;
    margin-top: 5px;
    width: 250px;
    height: 300px;
    margin-left: 400px;
    text-align: center;
    background-color: white;

}

.roll3 {
    border: 1px solid black;
    margin-top: 10px;
    width: 225px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: aqua;
}

.roll3 {
    border: 1px solid black;
    margin-top: 15px;
    width: 225px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: coral;
}

image {
    width: 100px;
    height: 100px;
    background-color: white;
}

.container4:hover {
    background-color: brown;

}





.container5 {
    border: 2px solid black;
    margin-top: -303px;
    width: 250px;
    height: 300px;
    margin-left: 660px;
    text-align: center;
    background-color: white;

}

.roll4 {
    border: 1px solid black;
    margin-top: 10px;
    width: 225px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: aqua;
}

.roll3 {
    border: 1px solid black;
    margin-top: 15px;
    width: 225px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: coral;
}

image {
    width: 100px;
    height: 100px;
    background-color: white;
}

.container5:hover {
    background-color: brown;

}





.container6 {
    border: 2px solid black;
    margin-top: -303px;
    width: 250px;
    height: 300px;
    margin-left: 920px;
    text-align: center;
    background-color: white;

}

.roll5 {
    border: 1px solid black;
    margin-top: 10px;
    width: 225px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: aqua;
}

.roll3 {
    border: 1px solid black;
    margin-top: 15px;
    width: 225px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: coral;
}

image {
    width: 100px;
    height: 100px;
    background-color: white;
}

.container6:hover {
    background-color: brown;

}





.container7 {
    border: 2px solid black;
    margin-top: -303px;
    width: 250px;
    height: 300px;
    margin-left: 1180px;
    text-align: center;
    background-color: white;

}

.roll5 {
    border: 1px solid black;
    margin-top: 10px;
    width: 225px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: aqua;
}

.roll3 {
    border: 1px solid black;
    margin-top: 15px;
    width: 225px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: coral;
}

image {
    width: 100px;
    height: 100px;
    background-color: white;
}

.container7:hover {
    background-color: brown;

}