h3 {
    text-align: center;
    margin: 10px;
}
input {
    margin: 20px;
}
li {
    list-style: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
}

ul {
    border: 1px solid #ddd;
    width: 300px;
    padding: 5px;
    margin: 5px;
    background-color: #ccc;
}

.productImg {
    width: 130px;
    height: 130px;
}
.dataTag {
    float: left;
    margin: 10px;
}
.rating {
    background-image: url(./images/rating.PNG);
    width: 23px;
    height: 29px;
    background-repeat: no-repeat;
    background-size: 109px;
    float: left;
}
.fullImage {
    background-position: -1px 5px;
}
.halfImage {
    background-position: -65px 5px;
}

.zeroImg {
    background-position: -86px 5px;
}

.ratingImgContainer  {
    height: 30px;
}