li{
    list-style-type: none;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
    background: #fff;
}

ul{
    border: 1px solid #ddd;
    margin: 10px;
    padding: 5px;
    width: 300px;
    background-color: #ccc;
}

.productImg{
    width: 150px;
    height: 150px;
}

h3{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.rating{
    background-image: url(rating.PNG);
    width: 23px;
    height: 22px;
    background-position: 1px 2px;
    background-repeat: no-repeat;
    background-size: 110px;
    float: left;
}
.fullImage{
    background-position: -2px 1px

}

.halfImage{
    background-position: -64px 2px;
}

.zeroImage{
    background-position: -85px 2px;
}

.ratingImgContainer{
    height: 40px;
}