
body{
   background-image: url("img/photo-1607743386760-88ac62b89b8a.avif");
  background-size: cover;

}

.container{
    position: absolute;
    border: 2px solid black;
    height: 500px;
    width: 600px;
    margin-left: 300px;
    top:50px;
    background-color: whitesmoke;
}


.user{
    margin: 10px;
    padding: 10px;
    position: relative;
    margin-left: 200px;
    top: 100px;
    font-size: large;
}


.pswd{
    margin: 10px;
    padding: 10px;
    position: relative;
    margin-left: 208px;
    top: 100px;
    font-size: large;
}

.conpsed{
    margin: 10px;
    padding: 10px;
    position: relative;
    margin-left: 135px;
    top: 100px;
    font-size: large;
}

.tele{
    margin: 10px;
    padding: 10px;
    position: relative;
    margin-left: 200px;
    top: 100px;
    font-size: large;
}

.mail{
    margin: 10px;
    padding: 10px;
    position: relative;
    margin-left: 235px;
    top: 75px;
    font-size: large;

}

.btn{
    margin: 10px;
    padding: 10px;
    position: relative;
    margin-left: 340px;
    top: 75px;
  
  
}

