h2 {
    text-align : center;
    text-decoration: underline;
    margin : 10px;
}
.content {
    border : 1px solid;
    width : 520px;
    margin : 20px auto;
    padding : 10px;
    background-color: rgb(122, 215, 215);
}
li {
    border: 1px solid;
    width : 500px;
    margin : 5px;
    padding: 5px;
    list-style : none;
    background-color: rgb(234, 199, 130);
}
* {
    margin : 0px;
    padding : 0px;
}
.marks input{
    width : 30px;
}
.progresscard {
    border : 1px solid;
    width : 520px;
    margin : 40px auto;
    padding : 10px;
    background-color: rgb(139, 230, 147);
    display: none;
}