body {
    font-family: sans-serif;
    background: linear-gradient(to right, #155799, #159957);
    color: whitesmoke;
}

.header,
.footer {
    text-align: center;
    font-family: 'Trebuchet MS';
    width: 100%;
    margin: 5px;
    padding: 5px;
    background: linear-gradient(to right, #072542, #87e1b4);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.form {
    max-width: 400px;
    margin: 20px auto;
    color: whitesmoke;
    background-color: rgba(11, 15, 13, 0.582);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px 25px;
}

li {
    list-style: none;
}

.mainContainer {
    padding: 16px;
}


input[type=email] {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
}

.register {
    color: white;
    text-align: center;
}

.register a:link,
a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.register a:hover,
a:active {
    background-color: green;
    color: white;
    cursor: pointer;
}
